<% if @user.errors.any? %>
  <div class="bg-danger error-msg">
		<h1><%= pluralize(@user.errors.count, "erreur") %> dans le formulaire</h1>
	 	
		<% @user.errors.messages.values.each do |msg| %>
		  <%msg.each do  |m| %>
			  <%= m %><br />
			<%end %>
		<% end %>
		
  </div>
<% end %>

<%= form_for @user , html: {:class => "form-horizontal"} do |u| %>
	<div class="form-group">		
		<%= label "fullname", "Votre nom", class: "col-sm-3 control-label" %>
		<div class="col-sm-8">
			<%= u.text_field( :fullname, class: "form-control", placeholder: "Votre nom")%>
		</div>	
	</div>
	<div class="form-group">
		<%= label "email", "Email", class: "col-sm-3 control-label" %>
		<div class="col-sm-8">
			<%= u.text_field( :email, class: "form-control", placeholder: "Votre adresse email")%>
		</div>				
	</div>
	<div class="form-group">
		<%= label "username", "Login", class: "col-sm-3 control-label" %>
		<div class="col-sm-8">
			<%= u.text_field( :username, class: "form-control", placeholder: "Login")%>
		</div>				
	</div>
	<div class="form-group">
		<%= label "password", "Mot de passe", class: "col-sm-3 control-label" %>
		<div class="col-sm-8">
			<%= u.password_field( :password, class: "form-control", placeholder: "Saisissez un mot de passe")%>
		</div>				
	</div>
	<div class="form-group">
		<%= label "password_confirmation", "Mot de passe", class: "col-sm-3 control-label" %>
		<div class="col-sm-8">
			<%= u.password_field( :password_confirmation, class: "form-control", placeholder: "Confirmez votre mot de passe")%>
		</div>				
	</div>
	
	<%= u.submit "Valider", class: "btn btn-lg btn-success btn-block"  %>
	<br />								
	<%= link_to "Annuler", controller: "home",action: "login" %>
<% end %>
