<% content_for :jumbo do %>
	<h1 class="page-header">Liste de vos comptes</h1>	
<% end %>

<div class="row">
	<div class="form-group">		
		<%= label "Ajouter un compte", "Ajouter un compte", class: "col-sm-3 control-label" %>
		<div class="col-sm-8">
			<%= link_to "Nouveau Compte", new_bank_account_path, class: "btn btn-primary" %>
		</div>			
	</div>
	<br /><hr /><br />
	<% @bankAccount.each do |b| %>
	
		<div class="form-group">		
			<%= label "compte",  b.name + " (" + b.smart_final_amount + ")", class: "col-sm-3 control-label" %>
			<div class="col-sm-8">
				<%= link_to "Modifier", edit_bank_account_path(b), class: "btn btn-warning" %>
				&nbsp;
				<%= link_to "Supprimer", bank_account_path(b), method: :delete, data: { confirm: "Supprimer le compte ?" }, class: "btn btn-danger" %>
			</div>			
		</div>
		<br /><br />
	<% end %>
		
</div>

