<% content_for :jumbo do %>
	<br /><br />	
	<h1><%= @bankAccount.name %></h1>	
<% end %>

<h3>Solde : <%= number_to_currency(@bankAccount.final_amount, unit: @bankAccount.devise.symbol, format: "%n %u") %></h3>

<% @operation = Operation.new(bank_account_id: @bankAccount.id) %>

<%= form_for @operation, :url => {:controller => "bank_accounts", :action => "add_operation"} do |o| %>
	<%= o.hidden_field ( :bank_account_id ) %>

	<table>
		<table class="table">
			<thead>
				<tr>			
					<td>Date</td>
					<td>Libell&eacute;</td>
					<td>Poste</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td><%= o.date_field( :date_operation, :value => Date.today.to_s(:db), class: "form-control", required: true ) %></td>
					<td><%= o.text_field( :wording, class: "form-control", required: true ) %></td>
					<td><%= o.collection_select( :operation_classification_id, OperationClassification.where(user_id: session[:current_user_id]), :id, :wording, {}, { class: "form-control"} ) %></td>
					<td><%= o.select( :movement, options_for_select([["Débit", "output"], ["Crédit", "input"]]), {}, { class: "form-control"} ) %>
					<td colspan="2"><%= o.number_field( :amount, :step => 0.01, class: "form-control", placeholder: "Montant", required: true) %></td>				
					<td><%= o.submit "Ajouter", class: "btn btn-success"  %></td>
				</tr>
				<% @bankAccount.operations.order(:date_operation).reverse_order.each do |o| %>
				<% if(o.movement == "input") %>
					<tr class="success">
				<% else %>
					<tr class="warning">
				<% end %>
					<td><%= o.date_operation.strftime("%d/%m/%Y") %>
					<td><%= o.wording %></td>	
					<td><%= o.operation_classification.wording %></td>
					<% if(o.movement == "input") %>
						<td><%= number_to_currency(o.amount, unit: @bankAccount.devise.symbol, format: "%n %u") %></td>
					<% else %>
						<td></td>
					<% end %>				
					<% if(o.movement == "output") %>
						<td><%= number_to_currency(o.amount, unit: @bankAccount.devise.symbol, format: "%n %u") %></td>
					<% else %>
						<td></td>
					<% end %>
					<td>
						<a href="#test_modal" 
							data-toggle="modal" 
							data-id="<%= o.id %>"
							data-date_operation="<%= o.date_operation.strftime("%Y-%m-%d") %>"
							data-operation_classification_id="<%= o.operation_classification_id %>"
							data-wording="<%= o.wording %>"
							data-movement="<%= o.movement %>"
							data-amount="<%= o.amount %>"
							class="open_operation_dialog btn btn-warning btn-xs">
						Modifier</a>
					</td>
					<!-- <td><a href="#test_modal" data-toggle="modal" class="btn btn-warning btn-xs">Modifier</a></td> -->
					<td>			
					<%= link_to "Supprimer",{:controller => "bank_accounts", :action => "delete_operation", :id_operation => o.id, :id_bank_account => @bankAccount.id }, 
						data: { confirm: "Supprimer l'opération ?" }, 
						class: "btn btn-danger btn-xs" %></td>
				</tr>
			<% end %>
			</tbody>
		</table>	
	</table>

<% end %>

<%= render "edit_operation" %>


