<% content_for :jumbo do %>
	<h1 class="page-header">Répartition par poste</h1>
<% end %>

<div class="row">

	<div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Paramètre</h3>
            </div>
            <div class="panel-body">
				
				<div class="form-group">	
					<%= label "Début", "Début", class: "col-sm-3 control-label" %>
					<div class="col-sm-8">
						<input class="form-control" id="startDate" name="startDate" required="required" type="date" value="<%= Date.today.beginning_of_month.to_s(:db) %>">	
					</div>	
				</div>
				<br />
				<div class="form-group">	
					<%= label "Fin", "Fin", class: "col-sm-3 control-label" %>
					<div class="col-sm-8">
						<input class="form-control" id="endDate" name="endDate" required="required" type="date" value="<%= Date.today.end_of_month.to_s(:db) %>">		
					</div>	
				</div>
				<br />
				<div class="form-group">	
					<%= label "Compte", "Compte", class: "col-sm-3 control-label" %>
					<div class="col-sm-8">
						<%= collection_select(:bank_account, :bank_account_id, BankAccount.where(user_id: session[:current_user_id]), :id, :name, {}, { class: "form-control"}) %>	
					</div>	
				</div>	
				<br />
				<button id="valid_btn" class="btn btn-lg btn-success btn-block">Valider</button>
					
			</div>
		</div>
	</div>
	
	<div class="col-lg-10 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				Répartition globale
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="flot-chart">
					<div class="flot-chart-content" id="flot-bar-chart" style="padding: 0px; position: relative;">
					</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
</div>

<script>

	//Flot Bar Chart
	$(document).ready(function() {			
		loadChart();
	});
	
	$('#valid_btn').on('click', function (e) {
		loadChart();
	});

	function loadChart(){
		$.ajax({
			url: "/stats/operation_distribution_data",
			data: { startDate: $("#startDate").val(), endDate: $("#endDate").val(), bank_account_id: $("#bank_account_bank_account_id").val()},
			type: "POST",
			format: "json"
		}).done(
			function(jsonData) {
	
				console.log(jsonData);
			
				var i = 0;
				var outputData = [];
				var ticks = [];
				for(var propertyName in jsonData.output) {		
					outputData.push([i, jsonData.output[propertyName]]);					
					ticks.push([i, propertyName]);					
					i++;
				}	
				
				var inputData = [];
				for(var propertyName in jsonData.input) {	
					var propertyFind = 0;					
					// try to find index in ticks
					for(var t = 0;t<ticks.length;t++){						
						if(ticks[t][1] == propertyName){
							i = ticks[t][0];
							propertyFind = 1;							
						}
					}
					if(propertyFind == 0){
						i = ticks.length;
						ticks.push([i, propertyName]);	
					}
				
					inputData.push([i, jsonData.input[propertyName]]);					
				}	
				
				var options = {
					xaxis: {
						ticks: ticks
					},
					yaxis: {                
						tickFormatter: function (v, axis) {
							return v + "€";
						}
					},    
					series: {
						bars: {
							show: true
						}
					},
					bars: {
						align: "center",
						barWidth: 0.5
					}
				};	
				
				var data = [
					{
						label: "Débit",
						data: outputData,
						color: "orange"
					},
					{
					   label: "Crédit",
						data: inputData,
						color: "green"
				   }
				];
				$.plot($("#flot-bar-chart"), data, options);		
			}
		).fail(
			function() {
				console.log( "error" );
				}
		);
	}
</script>