<!DOCTYPE html>
<html>
<head>
  <title>DaGet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:current_user_id] != nil %>
	<%= link_to "Mes comptes", "/bank_account/index" %>
	<%= link_to "Déconnexion", "/home/logout" %>
<% end %>

<%= yield %>

</body>
</html>
